### Python 4: Nasa.json dataset

Write a program to download the data from the link given below and then read the data and convert the into the proper structure and return it as a CSV file.

https://data.nasa.gov/resource/y77d-th95.json

In [1]:
import pandas as pd
import requests

url = "https://data.nasa.gov/resource/y77d-th95.json"
data = requests.get(url).json()

temp_list = []

for item in data:
    coordinates = item.get("geolocation", {}).get("coordinates", [])
    
    temp_item = {
        "Name": item.get("name", ""),
        "ID": item.get("id", ""),
        "Name_Type": item.get("nametype", ""),
        "Rec_Class": item.get("recclass", ""),
        "Mass": item.get("mass", ""),
        "Fall": item.get("fall", ""),
        "Year": item.get("year", ""),
        "Rec_latitude": item.get("reclat", ""),
        "Rec_longitude": item.get("reclong", ""),
        "Type": item.get("geolocation", {}).get("type"),        
        "Latitude": coordinates[1] if len(coordinates) > 1 else None,
        "Longitude": coordinates[0] if len(coordinates) > 1 else None,
        
    }
    temp_list.append(temp_item)

df = pd.DataFrame(temp_list)
display(df.head())

df.to_csv("NASA_Govt_data.xlsx", header= True, index=False)

,Name,ID,Name_Type,Rec_Class,Mass,Fall,Year,Rec_latitude,Rec_longitude,Type,Latitude,Longitude
0,Aachen,1,Valid,L5,21,Fell,1880-01-01T00:00:00.000,50.775000,6.083330,Point,50.77500,6.08333
1,Aarhus,2,Valid,H6,720,Fell,1951-01-01T00:00:00.000,56.183330,10.233330,Point,56.18333,10.23333
2,Abee,6,Valid,EH4,107000,Fell,1952-01-01T00:00:00.000,54.216670,-113.000000,Point,54.21667,-113.00000
3,Acapulco,10,Valid,Acapulcoite,1914,Fell,1976-01-01T00:00:00.000,16.883330,-99.900000,Point,16.88333,-99.90000
4,Achiras,370,Valid,L6,780,Fell,1902-01-01T00:00:00.000,-33.166670,-64.950000,Point,-33.16667,-64.95000